/* CODE GOR COLOR CYCLING */

body {
  animation: colorchange 15s linear 1s infinite;
  -webkit-animation: colorchange 15s linear 0s infinite alternate;
}

@keyframes colorchange {
  0% {
    background: red;
    color: cyan;
  }
  33% {
    background: green;
    color: magenta;
  }
  66% {
    background: blue;
    color: yellow;
  }
  100% {
    background: red;
    color: cyan;
  }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0% {
    background: red;
    color: cyan;
  }
  33% {
    background: green;
    color: magenta;
  }
  66% {
    background: blue;
    color: yellow;
  }
  100% {
    background: red;
    color: cyan;
  }
}
section {
  width: 33vw;
  margin: 0 auto;
}
#message {
  text-align: center;
  color: inherit;
  opacity: 75%;
  mix-blend-mode: difference;
  font-family: Cooper Black, Helvetica, Arial;
}
h1 {
  font-size: 4.69em;
}
p {
  font-size: 1.6em;
  font-family: Helvetica Neue, Helvetica, Arial;
}

/* CODE FOR EXPANDING SEARCH INPUT */

.box {
  margin: 100px auto;
  width: 300px;
  height: 50px;
}

.container-2 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search {
  width: 150px;
  height: 50px;

  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 25px;

  -webkit-transition: width 0.55s ease;
  -moz-transition: width 0.55s ease;
  -ms-transition: width 0.55s ease;
  -o-transition: width 0.55s ease;
  transition: width 0.55s ease;
}

/* .container-2 input#search::-webkit-input-placeholder {
  color: #65737e;
} */
/* 
.container-2 input#search:-moz-placeholder { */
/* Firefox 18- */
/* color: #65737e;
}

.container-2 input#search::-moz-placeholder { */
/* Firefox 19+ */
/* color: #65737e;
}

.container-2 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-2 .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
}

.container-2 input#search:focus,
.container-2 input#search:active {
  outline: none;
  width: 300px;
}

.container-2:hover input#search {
  width: 300px;
}

.container-2:hover .icon {
} */
